.carousel-inner{
    width: auto;
    height: 300px;
    max-height: 225px;

}

#jumbotronform {
    position: absolute;
    margin: 70px;
    padding: 50px;
    color: #FFFFFF;
    background-color: #59656F;
    width: fit-content;
    font-family: 'Titillium Web', sans-serif, "Segoe UI Semibold";

}

#jumbotronbanner {
    color: #FFFFFF;
    background: url(https://previews.123rf.com/images/jlpfeifer/jlpfeifer1803/jlpfeifer180300263/98010300-neat-desk-or-workstation-viewed-from-above-with-an-open-laptop-computer-calculator-cup-of-coffee-and.jpg) no-repeat center center fixed;
    z-index: -1;
    background-size: cover;
    margin: 0;
}

#h1font {
    padding: 25px;
    font-size: 60px;
    font-family: 'Titillium Web', sans-serif, "Segoe UI Semibold";
    color: #12130F;
    font-weight: bold;
    text-align: center;
    opacity:.75;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#listfont {
    font-family: 'Titillium Web', sans-serif, "Segoe UI Semibold";
}
