<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Craiglist Jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="jumbotron vertical-center" id="jumbotronbanner">
<h1 id="h1font">Job Postings</h1>
</div>
<div class="row" id="listfont">
    <div th:each="job : ${jobs}">
        <div class="col-sm-4 align-self-center" >
            <div class="card" style="width: 18rem; padding: 10px; margin: 20px;">
                <div th:if="${job.picture}!=null">
                    <img th:src="${job.picture}" class="card-img-top"/>
                    <div class="card-body">
                        <h5 class="card-title text-center"><span th:text="${job.title}"></span></h5>
                        <p class="card-text text-center">
                            Posted Date :<span th:text="${job.postedDate}"></span><br/>
                            Posted By :<span th:text="${job.author}"></span><br/>
                            Phone Number : <span th:text="${job.phone}"></span><br/>
                        </p>
                        <div class="text-center">
                            <a th:href="@{/detail/{id}(id=${job.id})}" class="btn btn-outline-secondary">Details</a>
                            <a th:href="@{/update/{id}(id=${job.id})}" class="btn btn-outline-secondary">Update</a>
                            <a th:href="@{/delete/{id}(id=${job.id})}" class="btn btn-outline-secondary">Delete</a>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="base :: bottom"></div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>